flake8==3.9.2  # keep in sync with .pre-commit-config.yaml
mccabe~=0.6.1
pycodestyle~=2.6.0
pyflakes~=2.2.0
isort==5.9.3  # keep in sync with .pre-commit-config.yaml
black==21.8b0  # keep in sync with .pre-commit-config.yaml
flake8-bugbear
flynt==0.66  # keep in sync with .pre-commit-config.yaml
